.blborder1{border: 1px solid black;}
.blborder2{border: 2px solid black;}
.blborder3{border: 3px solid black;}
.blborder4{border: 4px solid black;}
.blborder5{border: 5px solid black;}
.bborder1{border: 1px solid blue;}
.bborder2{border: 2px solid blue;}
.bborder3{border: 3px solid blue;}
.bborder4{border: 4px solid blue;}
.bborder5{border: 5px solid blue;}
