body.dark-mode {
    background: var(--bg-color-prime) !important;
    
}
.dark-mode h1 {
    color: white;
}
.dark-mode #sideBarBtn{
    color: white !important;

}
.dark-mode .step-txt{
    color: white ;
}