.fc {
    display: flex;
}
.fcol {
    display: flex;
    flex-direction: column;
}
.j-sa {justify-content: space-around;}
.j-sb {justify-content: space-between;}
.j-se {justify-content: space-evenly;}
.as{align-items: flex-start;}
.ac{align-items: center;}
.ae{align-items: flex-end;}
.js{justify-content: flex-start;}
.jc{justify-content: center;}
.je{justify-content: flex-end;}
.ass{align-self: flex-start;}
.asc{align-self: center;}
.ase{align-self: flex-end;}
.jss{justify-self: flex-start;}
.jsc{justify-self: center;}
.jse{justify-self: flex-end;}


.fb5{flex-basis: 5%;}
.fb10{flex-basis: 10%;}
.fb15{flex-basis: 15%;}
.fb20{flex-basis: 20%;}
.fb25{flex-basis: 25%;}
.fb30{flex-basis: 30%;}
.fb33{flex-basis: 33%;}
.fb35{flex-basis: 35%;}
.fb40{flex-basis: 40%;}
.fb45{flex-basis: 45%;}
.fb50{flex-basis: 50%;}