header{
    position: absolute;
    width: 100%;
    background-image: url('https://yt3.googleusercontent.com/4awtVE7h0tVsDn6Yc8Lo5dlgM8aLScimsRHMImqLfzC3hoskIxXOHJPB3chvuWPhPWh2wgiPsw=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj');
    height: 14vh;
    background-position-x: 120%;
    background-position-y: 60%;
    background-size: 50%;
    background-repeat: no-repeat;
}
