*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {  
    display: flex;
}
body{
    background: linear-gradient(to bottom, #0e162b, #192752, #26376c, #34478a);
    height: 100vh;
}
