*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {  
    display: flex;
}
main > .main-content > header > nav {
    border-bottom: 2px solid white;
}
main > .main-content > header > nav h1{
    color: white;
    text-align: end;
    font-size: 150%;
    margin:1% 0;
    margin-right: 5%;
}
body{
    background: linear-gradient(to bottom, #0e162b, #192752, #26376c, #34478a);
    height: 100vh;
}
