* {
    margin: 0;
    padding: 0;
}
header.flex-col {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
header > .flex-item {
    /* border: 1px solid black;     */
    width: 65%;
    margin: .25% 0;
    line-height: 1.4;
}
article.flex-col {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article > .flex-item {
    width: 80%;
    line-height: 1.4;
    
}
.main-container {
    display: flex;
    justify-content: center;
}
.project {
    border: 1px solid black;
    flex-basis: 33%;
    display: inline-block;
    
}
.project-documentation {
    border: 1px solid blue;
    display: inline-block;
    
}

/* Flex */
/* Align */
.align-between {
    align-items: space-between;
}

.align-center {
    align-items: center;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}

/* Justify */
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-self-start {
    justify-self: flex-start;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: flex-end;
}

/************* Videos *********** */
.flex-item>video {
    width: 100%;
}

.flex-item>video.smvid {
    min-width: 300px;
}

.enlarge-vid {
    width: 100%;
    min-width: 400px;
    height: 120%;

}