#mainContentHeader{
    display: flex;
}
#shortcutsContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 5%;
}
.shortcut-container {
    display: flex;
    justify-content: space-between;
    min-height: 30vh !important;
}
.shortcut-container > .shortcut-txt,
.shortcut-container > .shortcut-vid{
    flex-basis: 50%;
    border: 1px solid black;
}
.shortcut-container > .shortcut-txt{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.shortcut-container > .shortcut-vid{
    position: relative;
    flex: 50%;
}
.shortcut-container > .shortcut-vid > video{
    width: 100%;
    height: 100%;
    z-index: 1
}

.animateVid {
    position: absolute;
    transform: scale(2.2);
    z-index: 1;
    right: 25%;
    transition: all .5s;
}