:root {
  --width-side-bar: 5vw;
  --width-side-active: 10vw;
}

/* ========== SIDEBAR ========== */
.side-bar {
  flex-basis: var(--width-side-bar);
  width: var(--width-side-bar);
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 35, 28);
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.side-bar.active {
  flex-basis: var(--width-side-active);
  width: var(--width-side-active);
}


.side-bar.hidden {
  display: none;
}

/* ========== MAIN-CONTENT WHEN SIDEBAR IS HIDDEN ========== */
.side-bar.hidden + .main-content {
  flex-grow: 1;
  width: 100%;
}

/* ========== CHILD ELEMENTS ========== */
.side-bar header {
  top: 0;
  left: 0;
}

.side-bar header > img {
  height: 70%;
  width: 100%;
}

.side-bar.active .side-bar-ul-container {
  /* margin-top: 150% */
}
.side-bar .side-bar-ul-container {
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    gap: 4rem;
}


.side-bar-btn-container {
  position: fixed;
  max-height: 20px;
  max-width: 20px;
  bottom: 5%;
  left: 0;
  z-index: 10;
}
.dark-mode .side-bar.hidden + .side-bar-btn-container #sideBarBtn {
  color: white;
}
.side-bar.hidden + .side-bar-btn-container #sideBarBtn {
  /* display: inline-block !important; */
  /* float: right; */
  color: black !important;
  
}
.side-bar-btn-container i {
  height: 50px;
  font-size: 2rem;
  color: #eee;
}

.side-bar-ul-container > ul {
  margin-left: 10%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  
}
.side-bar.active .side-bar-ul-container > ul {
  margin-top: 10%;
}
.side-bar-ul-container > ul li{
    list-style-type: none;


}


.side-bar .side-bar-ul-container ul > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(69, 160, 210);
  flex-direction: column;
}

.side-bar .side-bar-ul-container ul > li > ul {
    margin-left: 20%;
  display: none;
  color: white;
}

.side-bar.active .side-bar-ul-container ul > li > ul {
  display: inline-block;
  color: rgb(69, 146, 99);
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  margin-left: 5%;
}

/* Sidebar link icons and text */
.side-bar .side-bar-ul-container ul > li img,
.side-bar .side-bar-ul-container ul > li i {
  color: white;
  max-width: 30px;
}

/* Sidebar nav item */
.side-bar .nav-item {
  color: white;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 801px) {
  .side-bar.active {
    width: 15vh;
  }

  .side-bar .side-bar-ul-container > ul {
    margin-top: 200%;
    gap: 2rem;
  }
  .side-bar.active .side-bar-ul-container > ul {
    margin-top: 100%;
  }
}

@media screen and (max-width: 700px) {
  .side-bar a:hover ~ .tooltip,
  .side-bar a:active ~ .tooltip,
  .side-bar a:focus ~ .tooltip {
    display: inline-flex;
    color: lightslategray;
    transform: translate(102%, -100%);
  }
  .side-bar-btn-container {
    bottom: 4%;
  }
  :root {
  --width-side-bar: 14vw;
  --width-side-active: 15vw;
}
}
