:root {
  --width-side-bar: 8vw;
  --width-side-active: 12vw;
}

/* ========== SIDEBAR ========== */
.side-bar {
  flex-basis: var(--width-side-bar);
  width: var(--width-side-bar);
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 35, 28);
  top: 0;
  height: 100vh;
  z-index: 1;
}

.side-bar.active {
  flex-basis: var(--width-side-active);
  width: var(--width-side-active);
}


.side-bar.hidden {
  display: none;
}

/* ========== MAIN-CONTENT WHEN SIDEBAR IS HIDDEN ========== */
.side-bar.hidden + .main-content {
  flex-grow: 1;
  width: 100%;
}

/* ========== CHILD ELEMENTS ========== */
.side-bar header {
  top: 0;
  left: 0;
}

.side-bar header > img {
  height: 70%;
  width: 100%;
}

.side-bar .side-bar-ul-container {
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    
}


.side-bar + #sideBarBtn {
   position: fixed;
  bottom: 2%;
  left: 1%;
  z-index: 999;
  font-size: 2rem;
  color: #eee;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;  
  
}
.side-bar.active + #sideBarBtn{
  /* margin-right: 5%%; */
  /* border: 2px solid green; */
  min-width: 48px;
  font-size: 2rem;
}
.dark-mode  #sideBarBtn {
  color: white;
}
.side-bar.hidden + #sideBarBtn {
  /* display: inline-block !important; */
  /* float: right; */
  min-width: 60px;
  /* border: 2px solid orange; */
  color: black ;
 
}
.side-bar-ul-container > ul {
  margin-left: 10%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  
}
.side-bar.active .side-bar-ul-container > ul {
}
.side-bar-ul-container > ul li{
    list-style-type: none;


}


.side-bar .side-bar-ul-container ul > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(69, 160, 210);
  flex-direction: column;
}

.side-bar .side-bar-ul-container ul > li > ul {
    margin-left: 20%;
  display: none;
  color: white;
}

.side-bar.active .side-bar-ul-container ul > li > ul {
  display: inline-block;
  color: rgb(69, 146, 99);
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  margin-left: 5%;
}

/* Sidebar link icons and text */
.side-bar .side-bar-ul-container ul > li img,
.side-bar .side-bar-ul-container ul > li i {
  color: white;
  max-width: 30px;
}

/* Sidebar nav item */
.side-bar .nav-item {
  color: white;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 1400px) {
  .side-bar .side-bar-ul-container{
    margin-top: 20%;
  }
  .side-bar.active .side-bar-ul-container{
    margin-top: 0%;
  }
  
}
@media screen and (max-width: 1200px) {
  .side-bar .side-bar-ul-container{
    margin-top: 90%;
  }
  .side-bar.active .side-bar-ul-container{
    margin-top: 0%;
  }
  

}
@media screen and (max-width: 801px) {
  

  .side-bar .side-bar-ul-container > ul {
    margin-top: 80%;
    gap: 2rem;
  }
  .side-bar.active .side-bar-ul-container > ul {
      margin-top: 0%;
  }
  :root {
    --width-side-bar: 12vw;
    --width-side-active: 15vw;
  }
  
  
}

@media screen and (max-width: 700px) {
  .side-bar .side-bar-ul-container > ul {
    margin-top: 250%;
  }
  .side-bar.active .side-bar-ul-container > ul {
    margin-top: 50%;
  }
  :root {
    /* --width-side-bar: 12vw;
    --width-side-active: 15vw; */
  }
  .side-bar a:hover ~ .tooltip,
  .side-bar a:active ~ .tooltip,
  .side-bar a:focus ~ .tooltip {
    display: inline-flex;
    color: lightslategray;
    transform: translate(102%, -100%);
  }
}
