:root{
    --width-side-active: 150px;
    --width-side-bar: 60px;
}
.side-bar {
    position: relative;
    display: flex;
    flex-direction: column;    
    /* align-items: center; */
    width: var(--width-side-bar);
    border-right: 1px solid black;
    background-color: rgb(52, 68, 114);
    height: 100vh;
    border: 1px solid red;
}
.side-bar.active {width: var(--width-side-active);}
.side-bar ~ .main-content{width: calc(100vw - var(--width-side-bar));}
.side-bar.active ~ .main-content{width: calc(100vw - var(--width-side-active));}
.side-bar .top-side-bar {
    /* display: flex; */
    /* align-items: center; */
}
#sideBarBtn{
    position: relative;
    z-index: 10
}
.side-bar.active .top-side-bar img {
    position: absolute;
    display: inline-flex;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.top-side-bar i {
    height: 50px;
    font-size: 2rem;
    color: #eee;
}
.side-bar > ul {
    padding-top: 5%;
    /* justify-self: flex-end; */
    /* margin-left: 15%; */
    /* margin-top: 100%; */
    justify-self: flex-end;
    border: 2px solid orange;
}
.side-bar ul > li{
    list-style: none;
    line-height: 2;
}
.side-bar ul >li a{
    text-decoration: none;
    display: inline-block;
    width: 85%;
}
.side-bar ul >li a *{
    color: black;
}
.side-bar ul >li > ul {
    display: none;
}
.side-bar.active ul >li > ul {
    display: static;
}
.side-bar ul >li img{
    align-self: center;
    justify-self: center;
    max-height: 30px;
    max-width:  30px;
}
.side-bar ul span{
    color: white ;
}
.side-bar ul li a:hover,
.side-bar ul li a:active,.side-bar ul li a:focus,
.side-bar ul li a:hover .nav-item,
.side-bar ul li a:hover .nav-item,
.side-bar ul li a:hover i,
.side-bar ul li i.nav-item,.side-bar ul li a:focus i{
    background-color: white;
    font-weight: 999;
    font-size: bold;
    color: black;
}
.side-bar ul li a:active .nav-item,.side-bar ul li a:focus .nav-item{
    color: orange;
}
.side-bar ul i {
    padding-left: 5%;
    font-size: 1.5rem;
    height: 100%;
    color: #eee;
}
.side-bar .nav-item {
    /* display: none; */
    font-size: 90%;
    margin: 0;
}

.side-bar.active .nav-item {
    height: 100%;
    display: inline-flex;
    color: white;
    margin-left: 5%;
}
.side-bar .tooltip {display: none;}
.side-bar.active .tooltip {
    display: none;
}
.side-bar.active a:active ~ .tooltip,.side-bar.active a:focus ~ .tooltip {
    display: none
}
/* .side-bar a:hover ~ .tooltip,
.side-bar a:active ~ .tooltip,.side-bar a:focus ~ .tooltip {
    display: inline-flex;
    color: black;
    transform: translate(150%,-100%);
} */

@media screen and (max-width:700px) {
    .side-bar.active a:active ~ .tooltip,.side-bar.active a:focus ~ .tooltip {
        display: none
    }
    /* *{background-color: blue;} */
    .side-bar a:hover ~ .tooltip,
    .side-bar a:active ~ .tooltip,
    .side-bar a:focus ~ .tooltip {
        display: inline-flex;
        color: lightslategray;
        /* background-color: white; */
        transform: translate(102%,-100%);
    }   
}