#mainShorcutPageContainer{
    margin: 0 2%;
}
.step-container {
    display: flex;
}
.step {
    border: 2px solid salmon;
    display: flex;
}
.step > * {flex-basis: 45%;}
.step > .step-txt{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.step > .step-vid{
    border: 2px solid blue;
}

.step > .step-txt header{
    font-size: 110%;
    margin-top: 2%;
    margin-left: 2%;
}
.step > .step-txt .txt-container{
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}