#mainShorcutPageContainer{
    margin: 0 2%;
}
.step-container {
    display: flex;
}
.step {
    /* border: 2px solid salmon; */
    display: flex;
}
.step > * {flex-basis: 45%;}
.step > .step-txt{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    border: 1px solid black;
    color: black;
}

.step-txt {
    font-size: 70%;
}
.step-col {
    display: flex;
    flex-direction: column;
}
.step-col >.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step > .step-txt:active,.step > .step-txt:focus{
    box-shadow: 0 2px 3px 3px grey;
    
}
.step > .step-vid{
    border: 1px solid black;
    /* border: 2px solid blue; */
}

.step > .step-txt header{
    font-size: 110%;
    margin-top: 2%;
    margin-left: 2%;
}
.step > .step-txt .txt-container{
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-img > img,
.step-vid > video {
    width: 100%;
    height: 100%;
}