.masthead-container {
    background-image: url('../../img/shorcut-icon2.png');
    height: 5vh;
}
.content-header img {
    max-height: 150px;
}
#content > main.main-content {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
}

