main > .main-content > header {

    /* background-image: url('../../img/program-shortcut-banner.jpg'); */
    background-position-y:20%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: blue;
}