.page-wrapper {
  display: flex;
}

.page-wrapper > .main-content {
  position: fixed;
  right: 0;
  width: var(--width-main-content);
}

.main-search-nav {
  display: flex;
  justify-content: flex-end;
}
.items-container{
  display: flex;
}
.items-container > .item {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  height: 25vh;
}