.page-wrapper {
  display: flex;
}

.page-wrapper > .main-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.main-search-nav {
  display: flex;
  justify-content: flex-end;
}
.items-container{
  display: flex;
}
.items-container > .item {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  height: 25vh;
}