.page-wrapper {
    /* position: relative; */
}
h1 {
    text-align: end;
    margin:1% 0;
    margin-right: 5%;
}

main > .main-content > header {
    left: 0;
    top: 0;
}
.page-container{
    margin: 0 2.5%;
}
.content-container {
    margin: 0 2.5%;
}

.items-container {
    margin-top: 2.5%;
}
.items-container > .item {
    margin: 0 2.5%;
}
