
.items-container{
    display: flex;
    flex-wrap: wrap;
}
.items-container > .videos-collection {
    border: 2px solid blue;
    /* display: flex; */
}
.items-container >.item-container {
    background-color:   blue;
}
.item-container > .item,
.videos-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container {
    flex-basis: 24%;
    display: inline-block;
    
}

