:root {
  --main-content-hide: '90%';
  --side-bar-hide: '10%';
  --main-content: '75%';
  --side-bar: '25%';
}
.page-wrapper > .main-content {
  flex-basis: var(--main-content);
  flex-grow: 1;
  margin-left: 10%;
}
.side-bar > header img {
  position: absolute;
  top: 0;
}
.side-bar {
  flex-basis: var(--side-bar);
  height: 100vh;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.side-bar a {
  flex-basis: 10%;
  /* width: 10%; */
  text-decoration: none;
  color: white;
}
.side-bar img{
  max-width: 100px;
}
.side-bar .side-bar-ul-container {
  margin-bottom: 5%;
}
.side-bar .side-bar-ul-container .topics > li a i{
  font-size: 2rem;
}
.side-bar-ul-container > ul {
  display: flex;
  flex-direction: column;
}
.side-bar-ul-container > ul.topics > li {
  /* gap: 5rem; */
  margin-bottom: 5%;
}
.side-bar-ul-container > ul.topics > li > ul{
  margin-left: 25%;
  margin-top: 5%;
}
.side-bar-ul-container .topics > li > a img{
  max-height: 50px;

}

.side-bar.hide + .main-content {
  flex: var(--main-content);
  margin-left: 5%;
  /* width: var(--main-content-hide); */
  /* background-color: blue; */
}
.side-bar.hide {
  display: hidden;
}
.side-bar.hide .side-bar-ul-container .topics > li a .nav-item,
.side-bar.hide .side-bar-ul-container .topics > li > ul {
  display: none;

}
.side-bar i#sideBarBtn{
  margin: 0 auto;
  color: whitesmoke;
  margin-top: 25%;
  font-size: 2rem;
}